* {
    color: white;
        font-family: 'Poppins', arial , sans-serif;
    font-size: 16px;
}

body {
background: #05aaa3;
    background: -moz-linear-gradient(left, #05aaa3 30%, #64d98b 80%, #92ed8d 100%);
    background: -webkit-linear-gradient(left, #05aaa3 0%, #64d98b 50%, #92ed8d 100%);
    background: -o-linear-gradient(left, #05aaa3 0%, #64d98b 80%, #92ed8d 100%);
    background: -ms-linear-gradient(left, #05aaa3 0%, #64d98b 80%, #92ed8d 100%);
    background: linear-gradient(90deg, #05aaa3 0%, #64d98b 80%, #92ed8d 100%)
}

.mb-4 {
    color: #fff;
}


.option_color {
    color: #000;
}

#full_name_id-error, #cardNanme-error, #email_id-error, #phone_id-error, #street1_id-error, #city_id-error, #state_id-error, #zip_id-error, #credit-card-error, #month-error, #year-error, #CVV-error  {
    color: #e50000
;
}



/* Font for Placeholder */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #6C757C;
    font-family: 'Poppins', arial , sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #6C757C;
    font-family: 'Poppins', arial , sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #6C757C;
    font-family: 'Poppins', arial , sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
    color: #6C757C;
    font-family: 'Poppins', arial , sans-serif;
}

